@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    7501 East McDowell Road<br />
    Scottsdale, Arizona 85257<br />
    <abbr title="Phone">P:</abbr>
    610.888.2909
</address>

<address>
    <strong>My Page:</strong> <a target="_blank" href="https://xiao-peng1006.github.io/">https://xiao-peng1006.github.io/</a><br />
</address>


<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">xiao.peng1006@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">xiao.peng1006@gmail.com</a>
</address>
